
<div class="row" style="height: 100%;">

<div class="dropdown" *ngIf=" token === undefined">
  <app-bienvenida></app-bienvenida>
</div>

<div class="col">
  </div>

    <div class="col-9">
        <h2 class="mt-3" style="color: white;">Tendencias de los últimos {{dias}} días</h2>
        
        <nav class="navbar navbar-expand bg-body-tertiary" style="background-color: #313642;">
              <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

                  <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav">

                      <div *ngFor="let item of arrayTendencias">
                        <li class="nav-item mx-3">
                          <a class="nav-link" href="#" style="color: white; background-color: #0d6efd; border-radius: 10px;">#{{item["etiqueta"][0]}}</a>

                      </li>
                      </div>

                    </ul>
                  </div>
              </div>
              
              <div class="dropdown" *ngIf="admin === 1">
                  <form [formGroup]="diasForm">
                    <div class="col">
                      <div class="input-group">
                        <span class="input-group-text">Ultimos</span>
                          <input type="text" class="form-control" aria-label="Dias" placeholder="N" aria-describedby="button-addon2" formControlName="dias" style="max-width: 10vh ;">
                          <span class="input-group-text">dias</span>
                          <button class="btn btn-primary" 
                              type="button"  
                              (click)="submit()">
                              <i class="fa-sharp fa-solid fa-calendar-days"></i>
                          </button>
                      </div>
                    </div>
                  </form>
                </div>

        </nav>
        <hr class="hr" style="border-top: 1px solid rgb(255, 255, 255);" />

        <div *ngFor="let mensaje of arrayMensajes"> 
          <app-mensaje [mensaje] = "mensaje"></app-mensaje>
        </div>

    </div>

    <div class="col">
    </div>
</div>